/**
 * Reccomended Reading:
 * https://smacss.com
 * http://bit.ly/MindBEMding
 */

/* base */
html {
	height: 100%;
	/* ↓ Sets font size to base 10 */
	font-size: 62.5%;
}
body {
	height: 100%;
	/* ↓ Sets font size to 16 px if browser font size is 16px & 14 px if browser font size is 14 px */
	/* This gives you base 10 rems & ems that behave as normal */
	font-size: 1.6em;
}

/* layout */

/* modules */

/* state */

/* theme */
